/*body {
    margin: 20px auto;
    width: 70%;
}*/
div ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
div ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
}
footer img {
    max-width: 70px;
    margin-left: 50px;
    margin-right: 50px;
    transition: all 0.5s
}

footer img:hover{ 
    transform: rotate(20deg);
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* nav bar */
div.navbar {
    text-align: center;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    margin-top:-20;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
}

/* CONTACTO */
div.contact {
    text-align:center !important;
}
.button {
    background-color: #333;
    border: radius;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

textarea {
    resize: none;
}

/* ERROR 404 */
div.err, p.err{
    text-align:center !important;
}
