<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul class="nav">
	        		<li class="nav"><a href="/">Inicio</a></li>
		        	<li class="nav"><a href="/about">Acerca de mi</a></li>
	        		<li class="nav"><a href="/cv">Conocimientos</a></li>
	        		<li class="nav"><a href="/experiencia">Experiencia</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container  https://fadado.github.io/ASIX/MP9/-->
			<footer>
	    		<ul>
	        		<li><a href="mailto:arnauesteban@gmail.com" target="_blank"><img id="icon" alt="gmail" src="/img/gmail.png"></a></li>
	        		<li><a href="https://github.com/isx47590131" target="_blank"><img id="icon" alt="github" src="/img/github.png"></a></li>
	        		<li><a href="https://www.instagram.com/mixaritos/"target="_blank"><img id="icon" alt="instagram" src="/img/instagram.png"></a></li>
	        		<li><a href="https://www.linkedin.com/in/arnau-esteban-b2b194131/"target="_blank"><img id="icon" alt="linkedin" src="/img/linkedin.png"></a></li>
				</ul>
			</footer>
		</body>
	</html>
