<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:arnauesteban@gmail.com"><img id="icon" alt="gmail" target="_blank" src="isx47590131.github.io/img/gmail.png"></a></li>
	        		<li><a href="https://github.com/isx47590131"><img id="icon" alt="github" target="_blank" src="isx47590131.github.io/img/github.png"></a></li>
	        		<li><a href="https://www.instagram.com/mixaritos/"><img id="icon" alt="instagram" target="_blank" src="isx47590131.github.io/img/instagram.png"></a></li>
	        		<li><a href="https://www.linkedin.com/in/arnau-esteban-b2b194131/"><img id="icon" alt="linkedin" target="_blank" src="isx47590131.github.io/img/linkedin.png"></a></li>
				</ul>
			</footer>
		</body>
	</html>
